:root {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color-scheme: light dark;

    --light-bg1: azure;
    --light-bg2: rgb(186, 233, 186);
    --light-color: black;
    --light-header-bg: lightgreen;
    --light-header-color: rgb(2, 77, 2);
    --dark-bg1: rgb(26, 28, 127);
    --dark-bg2: rgb(23, 5, 34);
    --dark-color: white;
    --dark-header-bg: rgb(2, 13, 67);
    --dark-header-color: rgb(97, 170, 187);
}

#button {
    display: block;
    border: 0.25em solid rgb(28, 122, 50);
    border-radius: 2em;
    padding: 0.5em;
    margin-right: 2em;
}

#button:hover {
    background-color: light-dark(lightyellow, darkgray);
}

h2::after {
    content: ' 🐊';
}

a:visited {
    color: green;
}

a:hover {
    text-shadow: 0em 0em 1em light-dark(black, white);
}

.light {
    color-scheme: light;
    background: radial-gradient(var(--light-bg1), var(--light-bg2));
}

.dark {
    color-scheme: dark;
    background: radial-gradient(var(--dark-bg1), var(--dark-bg2));
}

body {
    color: light-dark(var(--light-color), var(--dark-color));
    margin: 0%;
    max-width: 100vw;
    line-height: 2em;
    box-sizing: border-box;
}

header {
    background-color: light-dark(var(--light-header-bg), var(--dark-header-bg));
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-style: italic;
    color: light-dark(var(--light-header-color), var(--dark-header-color));
    width: 100%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-shadow: 2px 2px 4px rgb(19, 181, 25);
    box-shadow: 10px 5px 5px black;
    font-size: 1.5em;
}

@media (max-width: 640px) {
    header > h1 {
        font-size: 1.5em;
    }

    body {
       font-size: 0.75em;
    }

}

@media (max-width: 1700px){

    .haseebimg {
        width: 50%;
        height: 50%;    
    }

    .projectsgroup img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1460px) {

    video {
        width: 240px;
        height: 518px;
    }
}

nav {
    margin-top: 2em;
    justify-items: right;
}

section {
    border: 0.25em solid rgb(28, 122, 50);
    border-radius: 2em;
    padding: 2em;
}

.haseebimg {
    border: 0.25em solid rgb(28, 122, 50);
    border-radius: 2em;
}

.innerlist > li::marker {
    content: "+ ";
    font-weight: bold;
}

.list::marker {
    content: "";
}

aside {
    max-width: 100vw;
}
.aboutme {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    gap: 2.5vw;
    font-size: larger;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em;
}

@media (min-width: 1300px) {
    .aboutmetxt {
        max-width: 45%;
    }
    .experiences section {
        max-width: 25%;
    }
    .aboutme aside {
        max-width: 40%;
    }
    
}

.experiences {
    display: flex;
    gap: 2.5vw;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2.5em;
    margin: 0.5em;
}

.skills {
    justify-content: center; 
    font-size: larger;
    margin: 0.5em;
}

[class*="group"] {
    border: 0.25em solid rgb(28, 122, 50);
    border-radius: 2em;
    margin-top: 2.5em;
    text-align: center;
    font-size: larger;
    margin: 0.5em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 24em);
    text-align: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
}

.g1 {
    grid-column: 1;
    grid-row: 1;
    align-self: stretch;
    align-content: center;
}

.g2 {
    grid-column: 2;
    grid-row: 1;
    align-self: stretch;
    align-content: center;
}

.g3 {
    grid-column: 3;
    grid-row: 1 / 3;
    align-self: stretch;
    align-content: center;
}

.g4 {
    grid-column: 1;
    grid-row: 2;
    align-self: stretch;
    align-content: center;
}

.g5 {
    grid-column: 2;
    grid-row: 2;
    align-self: stretch;
    align-content: center;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 30em);
    }

    .g1 {
        grid-column: 1;
        grid-row: 1;
    }

    .g2 {
        grid-column: 1;
        grid-row: 2;
    }

    .g3 {
        grid-column: 1;
        grid-row: 3 / 5;
    }

    .g4 {
        grid-column: 1;
        grid-row: 5;
    }

    .g5 {
        grid-column: 1;
        grid-row: 6;
    }

    .projectsgroup img {
        width: 200px;
        height: 200px;
    }

    video {
        width: 320px;
        height: 700px;
    }
}

@media (max-width: 600px) {

    video {
        width: 240px;
        height: 518px;
    }

}

@media (max-width: 400px) {

    video {
        width: 200px;
        height: 500px;
    }

    .projectsgroup img {
        width: 150px;
        height: 150px;
    }
}

input {
    border: 0.25em solid rgb(28, 122, 50);
    border-radius: 2em;
    padding: 0.5em;
    margin: 0.5em;
}

.form {
    margin: 0.5em;
}

form p {
    display: inline;
}

@media (max-width: 580px) {
    form p {
        display: block;
        font-size: 0.95em;
    }
}

fieldset {
    border: 0.25em solid rgb(28, 122, 50);
    border-radius: 2em;
}